{{!-- Robert Zuniga burger-block.handlebars --}}

<li>
	{{burger_name}}

	<button class="change-devoured btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}devour{{else}}reorder{{/if}}
	</button>

	<button class="delete-burger btn-sm" data-id="{{this.id}}">remove</button>
</li>
